
wp-admin/
wp-content/*
wp-includes/
vendor
node_modules
.htaccess
index.php
license.txt
readme.html
wp-*.php
xmlrpc.php
vendors
node_modules
composer.lock
package-lock.json

# !wp-content/plugins/hvac-sizing-calculator
!wp-content/themes/